body {
  font-family: monospace;
  background-color: #367282;
  background-image: url("./assets/vitrail-final.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}