<html lang="en">
<head>
    <title>Vitrail</title>
    <link rel="stylesheet" href="./index.scss">
    <script src="index.ts"></script>
</head>
<body>
{% for i in 1..25 %}
    {{ i }}
{% endfor %}
{{ include("./partials/foo.twig") }}
<input type="text">
<a href="other/other.html.twig">Got to other page</a>
</body>
</html>