<html>
<head>
    <title>Vitrail - Other page</title>
    <link rel="stylesheet" href="../index.scss">
</head>
<body>
This is another PAGE 12345678

<a href="../index.html.twig">Back</a>
<input type="text">
</body>
</html>